#banner
	.banner_content
		%h1 File Cabinet
		%p Your Life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Hell of church-key health goth stumptown schlitz, blog vape squid. Distillery four dollar toast vice chicharrones thundercats. Vexillologist four loko salvia, neutra stumptown pitchfork williamsburg YOLO intelligentsia pop-up. Post-ironic brooklyn migas selfies banh mi skateboard vice humblebrag shaman forage. Tbh polaroid austin brooklyn hell of, umami iceland beard yr glossier pop-up. Waistcoat four dollar toast fixie kombucha microdosing. Kickstarter cold-pressed flexitarian, tousled kinfolk literally butcher snackwave PBR&B +1 DIY.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path